# Server Configuration
PORT=3000

# Database Configuration
MONGO_URI=mongodb://localhost:27017/clinic-appointment

# JWT Configuration
JWT_SECRET=your_super_secret_jwt_key

# Twilio SMS Configuration
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=+1234567890

# Zagel WhatsApp Gateway Configuration [https://github.com/Abdelrahman0xFF/zagel]
ZAGEL_API_URL=your_zagel_api_url
ZAGEL_API_KEY=your_zagel_api_key

# Cloudinary (Image Uploads) Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

FRONTEND_URL=https://medicare-ashy-one.vercel.app/
